<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("loginPage.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            font-style: italic;
            font-family: 'Redressed', cursive;
            
        }
        .container1{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

        }
        .cont {
            position: relative;
            top:250px;
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Login Page</h1>
    </div>

    <div class="container1 cont">
        <form method="POST" action='/login'>
            <span><%=x%></span> <br>
            Username:<br>
            <input type="text" name="username">
            <br>
            Password:<br>
            <input type="password" name="password">
            <br><br>
            <input type="submit" value="Login"> <br>
            <span><%=y%></span>
            <a href="registration">I dont have an account</a>
        </form>
        <br>
        
    </div>

</body>
</html>